<header id="header">
  
  <div id="logo-group">
    <!-- LOGO -->
    <span id="logo"><img src="styles/img/logo.png" alt="CloudATS Admin"></span>
    <!-- END LOGO -->

    <!-- Notification -->
    <span id="activity" class="activity-dropdown" activities-dropdown-toggle>
      <i class="fa fa-user"></i>
      <b class="badge bg-color-red">21</b>      
    </span>
    <div data-smart-include="app/components/activities/activities.html"></div>
  </div>

  <recent-projects></recent-projects>

  <!-- pull right nav area-->
  <div class="pull-right">
    
  <!-- collape menu button -->
  <div id="hide-menu" class="btn-header pull-right">
    <span>
      <a data-toggle-menu title="Collapse Menu"><i class="fa fa-reorder"></i></a>
    </span>    
  </div>
  <!-- end collape menu -->

  <!-- Logout button -->
  <div id="logout" class="btn-header transparent pull-right">
    <span>
      <a href="#" title="Sign Out" data-action="userLogout"><i class="fa fa-sign-out"></i></a>
    </span>
  </div>
  <!-- End logout -->

  <!-- search mobile button (this is hidden till mobile view port-->
  <div id="search-mobile" class="btn-header transparent pull-right">
    <span>
      <a href="#" title="Search"><i class="fa fa-serach"></i></a>
    </span>
  </div>
  <!-- end search mobile button-->

  <!-- Input search field -->
  <form class="header-search pull-right" search-autocomplete>
    <input id="search-fld" type="text" name="param" placeholder="Find reports and more">
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
  </form>
  <!-- End input search field -->

  <!-- fullscreen button -->
  <div id="fullscreen" class="btn-header transparent pull-right">
    <span>
      <a full-screen title="Full Screen"><i class="fa fa-arrows-alt"></i></a>
    </span>    
  </div>
  <!-- end fullscreen btn -->

  </div>
</header>