<header id="header">
  
  <div id="logo-group">
    <!-- LOGO -->
    <span id="logo"><img src="styles/img/logo.png" alt="CloudATS Admin"></span>
    <!-- END LOGO -->

    <!-- Notification -->
    <span id="activity" class="activity-dropdown" activities-dropdown-toggle>
      <i class="fa fa-user"></i>
      <b class="badge bg-color-red">21</b>      
    </span>
    <div data-smart-include="app/components/activities/activities.html"></div>
  </div>

  <recent-projects></recent-projects>

  <!-- pull right nav area-->
  <div class="pull-right">
    
  <!-- collape menu button -->
  <div id="hide-menu" class="btn-header pull-right">
    <span>
      <a data-toggle-menu title="Collapse Menu"><i class="fa fa-reorder"></i></a>
    </span>    
  </div>
  <!-- end collape menu -->

  </div>
</header>